# Class Variable

In [1]:
class student:
    def __init__(self,name,age,city):
        self.name = name
        self.age = age
        self.city = city
    
    def displaystudent(self):
        print("Name = ", self.name)
        print("Age = ", self.age)
        print("City = ", self.city)

In [2]:
s1 = student("Arc",12,"Salem")

In [3]:
s1.name

'Arc'

In [4]:
s2 = student("Mani",11,"Coimbatore")

In [5]:
s2.name

'Mani'

In [6]:
id(s1.name)

140367337321392

In [7]:
id(s2.name)

140367340969456

In [8]:
class student:
    def __init__(self,name,age,city,college):
        self.name = name
        self.age = age
        self.city = city
        self.college = college
    
    def displaystudent(self):
        print("Name=",self.name)
        print("Age=",self.age)
        print("City=",self.city)
        print("College=",self.college)

In [9]:
s1=student("Archana",12,"Salem","GCE")

In [10]:
s2=student("Manikandan",11,"Coimbatore","GCE")

In [11]:
s1.college

'GCE'

In [12]:
s2.college

'GCE'

In [13]:
id(s1.college)

140367341248240

In [14]:
id(s2.college)

140367341248240

In [27]:
class Student:
    college = "GCE"   # class variable
    
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
    
    def display_student(self):
        print("Name =", self.name)
        print("Age =", self.age)
        print("City =", self.city)
        print("College =", Student.college)

s1 = Student("Archana", 12, "Salem")
s1.display_student()

Name = Archana
Age = 12
City = Salem
College = GCE

In [28]:
s2 = Student("Mani",13,"Coimbatore")

In [29]:
s2.display_student()

Name = Mani
Age = 13
City = Coimbatore
College = GCE

In [30]:
# See here for both the objects we are getting same college and it is good to have a class variable like this to 
# save the memory space

In [48]:
class student:
    count=0
    def __init__(self,name,age,city):
            self.name=name
            self.age=age
            self.city=city
            student.count+=1 # here we are using class name for accessing count
  
    def displaystudent(self):
            print("Name=",self.name)
            print("Age=",self.age)
            print("City=",self.city)
            print("Number of student=",student.count) # here we are using class name for accessing count

In [49]:
s1=student("Archana",12,"Salem")

In [50]:
s2=student("Manikandan",11,"Coimbatore")

In [51]:
s1.count

2

In [52]:
s2.count

2

In [53]:
s1.count

2

In [54]:
s2.count

2

In [55]:
s2.displaystudent()

Name= Manikandan
Age= 11
City= Coimbatore
Number of student= 2

In [56]:
s1.displaystudent()

Name= Archana
Age= 12
City= Salem
Number of student= 2

In [57]:
s3 = student("Kalp",10,"Madurai")

In [58]:
s3.displaystudent()

Name= Kalp
Age= 10
City= Madurai
Number of student= 3

In [59]:
s4 = student("Thiru",7,"Theni")

In [60]:
s4.displaystudent()

Name= Thiru
Age= 7
City= Theni
Number of student= 4

In [61]:
id(s1.name)

140367341087408

In [62]:
id(s2.name)

140368131452080

In [63]:
id(s1)

140367597090560

In [64]:
s1.age = 40

In [65]:
s1.age

40

In [66]:
s1.displaystudent()

Name= Archana
Age= 40
City= Salem
Number of student= 4

In [67]:
# See now the age is changed for s1

In [68]:
id(s1)

140367597090560

In [69]:
# see after changing the values, also the memory is pointing to same location

In [70]:
del(s2)

In [72]:
s2.displaystudent() #bcoz we deleted s2 object

NameError: name 's2' is not defined

In [75]:
# getattr()
# setattr()

In [76]:
class Student:
    marks = 98
    name = 'Arc'

s = Student()

name = getattr(s, 'name')
print(name)

marks = getattr(s, 'marks')
print(marks)

Arc
98

In [77]:
class Student:
  marks = 88
  name = 'Sheeran'

s = Student()

# set value of name to Arc
setattr(s, 'name', 'Arc')
print(s.name)

# set value of marks to 99
setattr(s, 'marks', 99)
print(s.marks)

Arc
99