# Date & Time

In [7]:
import datetime

In [8]:
datetime.date

datetime.date

In [9]:
datetime.MAXYEAR

9999

In [10]:
datetime.MINYEAR

1

In [11]:
print(type(datetime.datetime))

<class 'type'>

In [12]:
from datetime import datetime

In [14]:
datetime.now()

datetime.datetime(2023, 8, 20, 18, 47, 58, 416821)

In [15]:
today = datetime.now()

In [17]:
today.month

8

In [19]:
today.year

2023

In [20]:
today.day

20

In [21]:
today.hour

18

In [22]:
today.minute

48

In [23]:
today.second

55

In [24]:
today.microsecond

232711

https://www.timeanddate.com/time/map/

Daylight Saving Time, also called summer time, system for uniformly advancing clocks, so as to extend daylight hours during conventional waking time in the summer months. In countries in the Northern Hemisphere, clocks are usually set ahead one hour in late March or in April and are set back one hour in late September or in October.

The practice was first suggested in a whimsical essay by Benjamin Franklin in 1784. In 1907 an Englishman, William Willett, campaigned for setting the clock ahead by 80 minutes in four moves of 20 minutes each during April and the reverse in September. In 1909 the British House of Commons rejected a bill to advance the clock by one hour in the spring and return to Greenwich Mean Time in the autumn.

In [27]:
date = datetime.now()

In [28]:
date

datetime.datetime(2023, 8, 20, 18, 59, 23, 604066)

In [29]:
date.strftime

In [30]:
datetime.strftime

In [31]:
datetime.now().strftime

In [32]:
# strftime is used to convert the object into string

In [33]:
datetime.now().strftime("%y")

'23'

In [34]:
datetime.now().strftime("%Y")

'2023'

In [35]:
datetime.now().strftime("%d %Y")

'20 2023'

In [36]:
datetime.now().strftime("%d %m %Y")

'20 08 2023'

In [37]:
datetime.now().strftime("%d/%m/%y")

'20/08/23'

In [38]:
datetime.now().strftime("%d-%m-%Y")

'20-08-2023'

%a	Abbreviated weekday name.	Sun, Mon, ...
%A	Full weekday name.	Sunday, Monday, ...
%w	Weekday as a decimal number.	0, 1, ..., 6
%d	Day of the month as a zero-padded decimal.	01, 02, ..., 31
%-d	Day of the month as a decimal number.	1, 2, ..., 30
%b	Abbreviated month name.	Jan, Feb, ..., Dec
%B	Full month name.	January, February, ...
%m	Month as a zero-padded decimal number.	01, 02, ..., 12
%-m	Month as a decimal number.	1, 2, ..., 12
%y	Year without century as a zero-padded decimal number.	00, 01, ..., 99
%-y	Year without century as a decimal number.	0, 1, ..., 99
%Y	Year with century as a decimal number.	2013, 2019 etc.
%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23
%-H	Hour (24-hour clock) as a decimal number.	0, 1, ..., 23
%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12
%-I	Hour (12-hour clock) as a decimal number.	1, 2, ... 12
%p	Locale’s AM or PM.	AM, PM
%M	Minute as a zero-padded decimal number.	00, 01, ..., 59
%-M	Minute as a decimal number.	0, 1, ..., 59
%S	Second as a zero-padded decimal number.	00, 01, ..., 59
%-S	Second as a decimal number.	0, 1, ..., 59
%f	Microsecond as a decimal number, zero-padded on the left.	000000 - 999999
%z	UTC offset in the form +HHMM or -HHMM.	 
%Z	Time zone name.	 
%j	Day of the year as a zero-padded decimal number.	001, 002, ..., 366
%-j	Day of the year as a decimal number.	1, 2, ..., 366
%U	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53
%W	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53
%c	Locale’s appropriate date and time representation.	Mon Sep 30 07:06:05 2013
%x	Locale’s appropriate date representation.	09/30/13
%X	Locale’s appropriate time representation.	07:06:05
%%	A literal '%' character.	%

In [39]:
datetime.now().strftime("%a") # Abbreviated weekday name

'Sun'

In [40]:
datetime.now().strftime("%A") # Full weekday name.

'Sunday'

In [41]:
datetime.now().strftime("%w") # Weekday as a decimal number. 0, 1, ..., 6 (Sunday - 0, Monday - 1, etc.,)

'0'

In [42]:
datetime.now().strftime("%d") # Day of the month as a zero-padded decimal 01, 02, ..., 31

'20'

In [43]:
datetime.now().strftime("%-d") # Day of the month as a decimal number 1, 2, ..., 30

'20'

In [44]:
datetime.now().strftime("%b") # Abbreviated month name.

'Aug'

In [45]:
datetime.now().strftime("%B") # Full month name.

'August'

In [46]:
datetime.now().strftime("%m") # Month as a zero-padded decimal number 01, 02, ..., 12

'08'

In [47]:
datetime.now().strftime("%-m") # Month as a decimal number. 	1, 2, ..., 12

'8'

In [48]:
datetime.now().strftime("%y") # Year without century as a zero-padded decimal number. 00, 01, ..., 99

'23'

In [49]:
datetime.now().strftime("%Y") # Year with century as a decimal number.

'2023'

In [50]:
datetime.now().strftime("%-y") # Year without century as a decimal number.	0, 1, ..., 99

'23'

In [52]:
datetime.now().strftime("%H") # Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23

'19'

In [54]:
datetime.now().strftime("%-H") # Hour (24-hour clock) as a decimal number.	0, 1, ..., 23

'19'

In [55]:
datetime.now().strftime("%I") # Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12

'07'

In [56]:
datetime.now().strftime("%-I") # Hour (12-hour clock) as a decimal number.	1, 2, ... 12

'7'

In [58]:
datetime.now().strftime("%p") # Locale’s AM or PM.	AM, PM

'PM'

In [59]:
datetime.now().strftime("%M") # Minute as a zero-padded decimal number.	00, 01, ..., 59

'33'

In [60]:
datetime.now().strftime("%-M") # Minute as a decimal number.	0, 1, ..., 59

'33'

In [61]:
datetime.now().strftime("%S") # Second as a zero-padded decimal number.	00, 01, ..., 59

'16'

In [62]:
datetime.now().strftime("%-S") # Second as a decimal number.	0, 1, ..., 59

'37'

In [63]:
datetime.now().strftime("%f") # Microsecond as a decimal number, zero-padded on the left.	000000 - 999999

'064458'

In [64]:
datetime.now().strftime("%z") # UTC offset in the form +HHMM or -HHMM.

''

In [65]:
datetime.now().strftime("%Z") # Time zone name.

''

In [66]:
datetime.now().strftime("%j") # Day of the year as a zero-padded decimal number.	001, 002, ..., 366

'232'

In [67]:
datetime.now().strftime("%-j") # Day of the year as a decimal number.	1, 2, ..., 366

'232'

In [68]:
datetime.now().strftime("%U") # Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53

'34'

In [69]:
datetime.now().strftime("%W") # Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53

'33'

In [70]:
datetime.now().strftime("%c")# Locale’s appropriate date and time representation.	Mon Sep 30 07:06:05 2013

'Sun Aug 20 20:38:32 2023'

In [71]:
datetime.now().strftime("%x") # Locale’s appropriate date representation.	09/30/13

'08/20/23'

In [72]:
datetime.now().strftime("%X") # Locale’s appropriate time representation.	07:06:05

'20:39:14'

In [73]:
datetime.now().strftime("%%") # A literal '%' character.	%

'%'