# Tuple

In [1]:
x = tuple()

In [2]:
x

()

In [3]:
type(x)

tuple

# Characteristics of tuple

Immutable
Iterable
Ordered
Heterogenous

In [4]:
x = (1,2,3,4,5)

In [5]:
x

(1, 2, 3, 4, 5)

In [6]:
a = tuple(x)

In [7]:
a

(1, 2, 3, 4, 5)

In [8]:
type(a)

tuple

In [9]:
# Iterable

In [10]:
name = "Arc"

In [11]:
name[0]

'A'

In [12]:
name[1]

'r'

In [13]:
name[2]

'c'

In [14]:
for i in x:
    print(i)

1
2
3
4
5

In [16]:
for i in name:
    print(i)

A
r
c

In [17]:
# Immutable

In [18]:
name[1] = 'J'

TypeError: 'str' object does not support item assignment

In [20]:
# see it shows error. bcoz it is immutable and cannot be changed

In [21]:
# Heterogenous

In [22]:
x = (1,2,3,4,5,'Apple','Orange',5.6,7.5)

In [23]:
x

(1, 2, 3, 4, 5, 'Apple', 'Orange', 5.6, 7.5)

In [24]:
# bcoz we can add more data like this and so it is heterogenous

In [25]:
x = ()

In [26]:
x

()

In [27]:
x = (1)

In [28]:
type(x)

int

In [29]:
# this is not considered as tuple bcoz it is a single argument. Instead we can use (1,) with comma.

In [30]:
x = (1,)

In [31]:
type(x)

tuple

# Methods in tuple

In [39]:
# only two methods are there count and index

In [40]:
x = (1,2,3,4,2,2)

In [38]:
x.count?

Signature: x.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [41]:
x.count(2)

3

In [42]:
x.index?

Signature: x.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [43]:
x.index(3)

2

In [45]:
x.index(2) # it gives index for 2 based on first come location

1